*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
font-family: sans-serif;
}
a{
color: rgb(8, 8, 8);
text-decoration: none;    
}
h1,h2,h3{
padding:20px;    
}
p{
margin: 10px 0;    
}
.info-left {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 90px 50px;
}
.info-rigth {
    float: right;
    width: 50%;
    height: 100%;
    text-align:center;
    padding: 60px 70px;
}
.text-primary{
    color: rgb(15, 15, 14);
}
.btn{
    font-weight: initial;
    line-height: 2.5rem;
    color: rgb(24, 28, 230);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    width: calc(100% - 800px);
    user-select: none;
    background-color: rgb(2, 2, 235);
    border: 2px solid rgb(4, 17, 92);
    padding: .375rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
}
#showcase{
    margin-top: 35px;
    background-image: url(https://kartinkin.net/uploads/posts/2021-04/thumbs/1617609341_26-p-fon-angliiskii-yazik-31.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.showcase-content{
     text-align: center;
     padding-top: 60px;
     font-size: 20px
 }
.offer{
    text-transform: uppercase;
    margin-top: 130px;
}
.offer p{
    font-size: 30px;
    letter-spacing: 0.1em;
    color: black;
}
.offer h1{
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: 9px;
    letter-spacing: 0.02em;
}
.btn{
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 8px rgb(7, 7, 7);
    width: 238px;
}
#main4{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    padding: 20px;
}
#home-info{
    height: 450px;
}

#home-info .info-img {
    margin-top: 20px;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(https://png.pngtree.com/png-vector/20210729/ourlarge/pngtree-motivational-quotes-say-yes-to-new-adventure-local-lettering-in-english-png-image_3749047.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 90px 50px;
}

#home-info  .info-content p {
    padding-bottom: 20px;
    font-size: 18px;
}
.bg{
    background: rgb(255, 255, 255);
}
